@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
font-family: "Roboto Condesed" sans-serif;
background-color: #0B1D2F;
}


/**************************************NAVBAR***********************************************/
.logo{
  width:100px;
}

/*----------NAV -----------*/
nav{
  background-color: #0B1D2F;  
}
.navbar-nav >li >a {
  margin-right:12px;
}

/*----------NAV Links-----------*/
nav a.nav-link{
  font-weight:500;
  font-size: small;
  letter-spacing:0.6px;
  cursor:pointer;
  color: rgb(255, 255, 255);
   
}
nav ul li{
  text-transform: uppercase;
  padding-right: 4rem;
}

/*-----------NAV Btn--------*/
.button1 {
  transition-duration: 0.4s;
  background-color: #F58A07; /* Green */
  border: none;
  color: white;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  padding: 10px 30px;
  margin: right 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
}

.button1:hover {
  background-color: #084887; /* Green */
  color: white;
}

/**************************************HEADER***********************************************/
.header-wrapper{
  position: relative;
  background: url('./components/image/im1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 86vh;

}
.main-info{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;
}
.main-info h1,h3{
  
  color: #084887;
}
/**************************************Typed Text**********************************************/
.typed-text{
  font-size:30px;
  color:#F58A07;
  align-items: center;
}

/**************************************line**********************************************/
.line{
  position: relative;
  background-color: #0B1D2F;  
  background-size: cover;
  background-position: center;
  height: 20vh; 
  align-items: center;
}
/**************************************card1-wrapper***********************************************/
.card1-wrapper{
  position: relative;
  background-color: #0B1D2F;  
  background-size: cover;
  background-position: center;  
  align-items: center; 
  
  
}
.b1{ 
    align-items: center;    
    margin-right: 150px;
    margin-left: 80px;
   
 
}
.imclz {
  display: block;
  width: 450px;
  margin-left:10px;
  margin-right: auto;
 
}


.text-block {
  position: absolute; 
  top: 150px;
  left: 700px;
  background-color:transparent;
  color: white;
  align-items: center;
  text-align: left;
}
p {
  width: 500px; 
  
}
/**************************************card2-wrapper***********************************************/
.card2-wrapper{
  position: relative;
  background-color: #0B1D2F;  
  background-size: cover;
  background-position: center;  
  align-items: center;   
  
}
.b2{ 
  align-items: center;    
  margin-right: 150px;
  margin-left: 80px;
 

}
.text-block2 {
  position: absolute; 
  top: 100px;
  left: 100px;
  background-color:transparent;
  color: white;
  align-items: center;
  text-align: left;
}

.imclz2 {
  display: block;
  width: 550px;  
  margin-left: 650px;
 
}


/**************************************shop***********************************************/
.sh1 h2{
  font-size: 40px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}
div.gallery {
    width:302.5px;
}



div.gallery img {
  width: 300px;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
 
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.button2 {
  transition-duration: 0.4s;
  background-color: #F58A07; /* Green */
  border: none;
  color: white;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  padding: 10px 30px;
  margin: right 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
}
